<div id="<%= dom_id photography %>">
  
  <p>
    <% if photography.foto.attached? %>
      <%= image_tag photography.foto %> 
    <% else %>  
      <%= image_tag 'foto.png' %>
    <% end %>   

  </p>

  <p>
    <strong>Name:</strong>
    <%= photography.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photography.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photography.user.email %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= photography.tag.name %>
  </p>

</div>
