<div id="<%= dom_id photography %>">
  <p>
    <strong>Name:</strong>
    <%= photography.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photography.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photography.user_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= photography.tag_id %>
  </p>

</div>
