<!--p style="color: green"><%= notice %></p-->

<%= render @photography %>

<div>
  <% if user_signed_in? && (current_user.id == @photography.user_id)%>

  <%= link_to "Edit this article", edit_photography_path(@photography) %>
  
  <%= button_to "Destroy this article", @photography, method: :delete %>

  <% else %>

  <% end %>



  <%= link_to "Back to articles", photographies_path %>

</div>